<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><%= @post.title %>
            <small>by <a href="#"><%= @post.user.name %></a></small>
            <% if user_signed_in? && current_user == @post.user %>
               <span class="pull-right">
                   <%= link_to "Delete post", post_path(@post), class: "btn btn-danger", method: :delete %>
                </span>
                <span class="pull-right">
                    <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary" %>&nbsp
                 </span>
             <% end %>
        </h1>
        <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Blog", posts_path %></li>
            <li class="active">Blog Post</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <hr>

        <!-- Date/Time -->
        <p><i class="fa fa-clock-o"></i> Posted on <%= @post.created_at.to_formatted_s(:long_ordinal)[0...-5] %></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p><%= @post.content %></p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well">
            <h4>Leave a Comment:</h4>
            <%= form_for Comment.new, url: create_comment_path(@post) do |f| %>
                <div class="form-group">
                    <%= f.text_area :body, class: "form-control", rows: 3 %>
                </div>
                <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
        </div>

        <hr>

        <!-- Posted Comments -->
        <% @comments.each do |comment| %>
        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= comment.user.name %>
                    <small><%= comment.created_at.to_formatted_s(:long_ordinal) %></small>
                </h4>
                <%= comment.body %>
            </div>
        </div>
        <% end %>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>

</div>
<!-- /.row -->
