<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Keenability", index_path, class: "navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="<%= is_active?('/welcome/about') %>">
                        <%= link_to "About", about_path %>
                    </li>
                    <li class="<%= is_active?('/welcome/services') %>">
                        <%= link_to "Services", services_path %>
                    </li>
                    <!-- <li class="<%#= is_active?('/contact/contact_us') %>"> -->
                        <%#= link_to "Contact", '#' %>
                    <!-- </li> -->
                    <li class="<%= is_active?('/welcome/portfolio3col') %>">
                        <%= link_to "Listings", portfolio3col_path %>
                    </li>
                    <li class="<%= is_active?('/welcome/bloghome2') %>">
                        <%= link_to "Blog", posts_path %>
                    </li>
                    <% if !user_signed_in? %>
                        <li class="<%#= is_active?('/welcome/bloghome2') %>">
                            <%= link_to "Sign up", new_user_registration_path %>
                        </li>
                        <li class="<%#= is_active?('/welcome/bloghome2') %>">
                            <%= link_to "Login", new_user_session_path %>
                        </li>
                    <% else %>
                        <li class="<%#= is_active?('/welcome/bloghome2') %>">
                            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                        </li>
                    <% end %>
                    <!-- <li class="<%#= is_portfolio_active?%>"> -->
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a> -->
                        <!-- <ul class="dropdown-menu"> -->
                            <!-- <li class="<%#= is_active?('/welcome/portfolio1col') %>"> -->
                              <%#= link_to "1 Column Portfolio", portfolio1col_path %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/portfolio2col') %>"> -->
                              <%#= link_to "2 Column Portfolio", portfolio2col_path %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/portfolio3col') %>"> -->
                              <%#= link_to "3 Column Portfolio", portfolio3col_path %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/portfolio4col') %>"> -->
                              <%#= link_to "4 Column Portfolio", portfolio4col_path  %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/portfolioitem') %>"> -->
                              <%#= link_to "Single Portfolio", portfolioitem_path %>
                            <!-- </li> -->
                        <!-- </ul> -->
                    <!-- </li> -->
                    <!-- <li class="<%#= is_blog_active?%>"> -->
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a> -->
                        <!-- <ul class="dropdown-menu"> -->
                            <!-- <li class="<%#= is_active?('/welcome/bloghome1') %>"> -->
                              <%#= link_to "Blog Home 1", bloghome1_path %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/bloghome2') %>"> -->
                              <%#= link_to "Blog Home 2", bloghome2_path %>
                            <!-- </li> -->
                            <!-- <li class="<%#= is_active?('/welcome/blogpost') %>"> -->
                              <%#= link_to "Blog Post", blogpost_path %>
                            <!-- </li> -->
                        <!-- </ul> -->
                    <!-- </li> -->
                    <!-- <li class="<%#= is_otherpages_active?%>">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="<%#= is_active?('/welcome/fullwidth') %>">
                              <%#= link_to "Full Width Page", fullwidth_path %>
                            </li>
                            <li class="<%#= is_active?('/welcome/sidebar') %>">
                              <%#= link_to "Sidebar Page", sidebar_path %>
                            </li>
                            <li class="<%#= is_active?('/welcome/faq') %>">
                              <%#= link_to "FAQ", faq_path %>
                            </li>
                            <li class="<%#= is_active?('/welcome/p404') %>">
                                <%#= link_to '404', p404_path %>
                            </li>
                            <li class="<%#= is_active?('/welcome/pricing') %>">
                              <%#= link_to "Pricing Table", pricing_path %>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
