<!DOCTYPE html>
<html>
<head>
  <title>Keenability</title>
  <!-- the following code is for internet explorer  -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
    type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- the following code is to make it mobile and ipad friendly depending on the device -->



  <!-- Stuff copied from head section of index.html(.erb) header -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- A viewport controls how a webpage is displayed on a mobile device. Without a viewport, mobile devices will render the page at a typical desktop screen width, scaled to fit the screen. Setting a viewport gives control over the page's width and scaling on different devices. -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> --> <!-- don't need this because all your stylesheet is already being linked from the stylesheet_link_tag above -->

    <!-- Custom CSS -->
    <!-- <link href="css/modern-business.css" rel="stylesheet"> --> <!-- don't need this because all your javascript is already being linked from the javascript_include_tag above -->

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --> <!-- i think there is no need for this either as rails-awesome-fonts is taking care of this -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<%= render partial: "layouts/nav" %>

<% if current_page?(index_path) %>
  <%= render partial: "welcome/carousel" %>
<% end %>

<!-- Page Content -->
<div class="container">

<%= flash_messages %>

<%= yield %>

<%= render partial: "layouts/footer" %>
</body>
</html>

